In [2]:
import pandas as pd

In [3]:
pymoli_file = "./Resources/purchase_data.csv"
pymoli_file_df = pd.read_csv(pymoli_file, encoding="ISO-8859-1")

In [4]:
sn_count = len(pymoli_file_df["SN"].unique())
print("Total Number of Players: " + str(sn_count))

Total Number of Players: 576

In [5]:
player_count_dict = [{"Total Players": sn_count}]
player_count_df = pd.DataFrame(player_count_dict)
player_count_df

   Total Players
0            576

In [7]:
number_unique_items = len(pymoli_file_df["Item Name"].unique())
num_purchases = pymoli_file_df["Price"].count()
sum_purchases = pymoli_file_df["Price"].sum()
avg_purchase_price = round(pymoli_file_df["Price"].sum()/pymoli_file_df["Price"].count())

In [8]:
purchasing_dict = [{"Number of Unique Items": number_unique_items, "Average Purchase Price": avg_purchase_price,
                    "Total Number of Purchases": num_purchases,"Total Revenue": sum_purchases}]
purchase_analysis_df = pd.DataFrame(purchasing_dict)
purchase_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.0,780,2379.77

In [15]:
gender_df = pymoli_file_df[["SN", "Gender"]].drop_duplicates()

In [16]:
gender_series = gender_df["Gender"].value_counts()

In [14]:
#group by gender
#class demo (day 2 - UFO sightings)
gender_demographics_df = pd.DataFrame({"Total Count": gender_series, 
                                       "Percentage of Players": gender_series/sn_count})
gender_demographics_df

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [29]:
#purchase analysis
#dont want to remove duplicates for this (except for avg purchase by person)
# print(sum_purchases)
# print(num_purchases)
# avg_purchase = sum_purchases/num_purchases
# print(avg_purchase)
# avg_person_purchase = sum_purchases/sn_count
# print(avg_person_purchase)

2379.77
780
3.0509871794871795
4.131545138888889

In [38]:
grouped_gender_analysis = pymoli_file_df.groupby(["Gender"])
grouped_gender_analysis

In [46]:
purchase_count = grouped_gender_analysis["Price"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [48]:
total_purchase = grouped_gender_analysis["Price"].sum()
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [49]:
avg_purchase_price = total_purchase/purchase_count
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [52]:
# avg_by_person = total_purchase/???
# avg_by_person

Gender
Female                   0.628368
Male                     3.416042
Other / Non-Disclosed    0.087135
Name: Price, dtype: float64

In [ ]:
gender_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                "Average Purchase Pri": gender_series/sn_count})