In [1]:
import pandas as pd

In [2]:
pymoli_file = "./Resources/purchase_data.csv"
pymoli_file_df = pd.read_csv(pymoli_file, encoding="ISO-8859-1")
pymoli_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
sn_count = len(pymoli_file_df["SN"].unique())
player_count_df = pd.DataFrame([{"Total Players": sn_count}])
player_count_df

   Total Players
0            576

In [4]:
number_unique_items = len(pymoli_file_df["Item Name"].unique())
num_purchases = pymoli_file_df["Price"].count()
sum_purchases = pymoli_file_df["Price"].sum()
avg_purchase_price = round(pymoli_file_df["Price"].sum()/pymoli_file_df["Price"].count())


purchase_analysis_df = pd.DataFrame(
                    [{"Number of Unique Items": number_unique_items, "Average Purchase Price": avg_purchase_price,
                      "Total Number of Purchases": num_purchases,"Total Revenue": sum_purchases}])
purchase_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.0,780,2379.77

In [6]:
sn_gender_df = gender_df.drop_duplicates()
sn_gender_df

sn_gender_series = sn_gender_df["Gender"].value_counts()
sn_gender_series

NameError: name 'gender_df' is not defined