In [1]:
import pandas as pd

In [8]:
pymoli_file = "./Resources/purchase_data.csv"

In [9]:
pymoli_file_df = pd.read_csv(pymoli_file, encoding="ISO-8859-1")

In [29]:
pymoli_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [37]:
#identify incomplete rows - classdemo (day 2 - cleaning data)
#there are no incomplete rows (no cleaning!)
pymoli_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [39]:
#data types look correct - classdemo (day 2 - cleaning data)
pymoli_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [18]:
pymoli_file_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [36]:
#value counts - classdemo (day 1 - training grounds)
#this shows that a lot of SN shows up multiple times. Can't just count index, need to count unique SNs
pymoli_file_df["SN"].value_counts().head()

Lisosia93      5
Idastidru52    4
Iral74         4
Aelin32        3
Iskadarya95    3
Name: SN, dtype: int64

In [47]:
#count unique screen names. pull unique screen names and find the lenght. 
#https://www.geeksforgeeks.org/how-to-count-distinct-values-of-a-pandas-dataframe-column/ (about halfway down on site)
sn_count = len(pymoli_file_df["SN"].unique())
print("Total Number of Players: " + str(sn_count))

Total Number of Players: 576

In [70]:
#count unique items. pull unique items and find the lenght. 
#https://www.geeksforgeeks.org/how-to-count-distinct-values-of-a-pandas-dataframe-column/ (about halfway down on site)
item_name_count = len(pymoli_file_df["Item Name"].unique())
print("Number of Unique Items: " + str(item_name_count))

#count and sum
num_purchases = pymoli_file_df["Price"].count()
sum_purchases = pymoli_file_df["Price"].sum()

#sum the purchase price divided by # of purchases
avg_purchase_price = round(pymoli_file_df["Price"].sum()/pymoli_file_df["Price"].count())
print("Average Purchase Price: $" + str(avg_purchase_price))

#total number of purchases and total revenue
print("Total Number of Purchases: " + str(num_purchases))
print("Total Revenue: $" + str(sum_purchases))

Number of Unique Items: 179
Average Purchase Price: $3.0
Total Number of Purchases: 780
Total Revenue: $2379.77